In [163]:
import requests # library to handle requests
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner
import random # library for random number generation
import requests
import lxml.html as lh
from bs4 import BeautifulSoup
from tabulate import tabulate
from urllib.request import urlopen

In [164]:
url = 'https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'
dfs = pd.read_html(url)
df = dfs[0]

Eliminating rows with Borough as "Not assigned"

In [165]:
df = df[df.Borough != 'Not assigned']

Replacing "Not Assigned" Neighbourhoods with Borough name

In [166]:
df.loc[(df.Neighbourhood == 'Not assigned'),'Neighbourhood']=df.Borough

/opt/conda/envs/Python36/lib/python3.6/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

Combining Neighborhoods based on Postcode, reseting index, and joining the sublist of neighbourhoods with ", "

In [167]:
df = df.groupby(['Postcode','Borough'])['Neighbourhood'].apply(list)
df = df.sample(frac=1).reset_index()
df['Neighbourhood']=df['Neighbourhood'].str.join(', ')

Displaying Dataframe

In [183]:
df.head()

  Postcode           Borough                   Neighbourhood
0      M4R   Central Toronto              North Toronto West
1      M2N        North York                Willowdale South
2      M4L      East Toronto  The Beaches West, India Bazaar
3      M4E      East Toronto                     The Beaches
4      M5E  Downtown Toronto                     Berczy Park

Displaying Dataframe shape

In [169]:
df.shape

(103, 3)

In [172]:
df_loc = pd.read_csv('https://cocl.us/Geospatial_data')

In [184]:
df_loc.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

Combining location and log/lat dataframes

In [185]:
df_combined = pd.merge(left=df,right=df_loc, how='left', left_on='Postcode', right_on='Postal Code')

Eliminating duplicated postal code column from merge

In [186]:
df_combined = df_combined.drop(columns = 'Postal Code')

In [188]:
df_combined.head()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
0,M4R,Central Toronto,North Toronto West,43.715383,-79.405678
1,M2N,North York,Willowdale South,43.770120,-79.408493
2,M4L,East Toronto,"The Beaches West, India Bazaar",43.668999,-79.315572
3,M4E,East Toronto,The Beaches,43.676357,-79.293031
4,M5E,Downtown Toronto,Berczy Park,43.644771,-79.373306

In [190]:
df_combined.shape

(103, 5)